/* article unit */
.article-unit {
  border: 1px solid #D9D9D9;
  box-shadow: 0 0 5px #D9D9D9;
  background-color: white;
}

.article-unit-top {
  height: 3px;
  background-color: black;
}

.article-unit-list-top {
  height: 10px;
  background-color: black;
}

.article-unit-middle {
  height: 66px;
  border-bottom: 1px solid #D9D9D9;
}

.article-unit-middle-header {
  padding: 0px 15px;
}

.article-unit-middle-header h3 {
  font-size: 40px;
  margin: 0px;
  padding-top: 10px;
}

.article-unit-bottom {
  margin: 15px;
}

.article-unit-list-bottom {
  margin: 0px 15px;
}

.article-unit-more {
  height: 60px;
  border-top: 1px solid #D9D9D9;
}

.article-unit-more-context {
  padding: 10px 15px;
}

.article-unit-more:hover {
  cursor: pointer;
}

.article-unit-more:hover .article-unit-more-button {
  background-color: black;
}

.article-unit-more:hover .article-unit-more-context h2 {
  color: black;
}

.article-unit-more-button {
  border-radius: 50px;
  width: 13%;
  background-color: #666666;
  margin-right: 8px;
  text-align: center;
}

.fa-long-arrow-right {
  color: white;
  position:relative;
  top: calc(50% - 8px);
}

.article-unit-list-item:not(:last-child),
.article-unit-list-item-two {
  border-bottom: 1px solid #D9D9D9;
}

.article-unit-list-item-bottom,
.article-unit-list-item-two-bottom {
  margin: 15px 0px;
}

.article-unit-image img{
  position: absolute;
  margin: auto;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
}

.article-unit-list-item-image {
  height: 75px;
  width: 30%;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-list-item-two-image {
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.article-unit-list-item-bottom-context-text {
  width: 70%;
}

/* article unit one */
.article-unit-one {
  height: 335;
  width: 405;
}

.article-unit-one-bottom-context-image{
  height: calc(100% * (2/3));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.article-unit-one-bottom-context-text-type h2,
.article-unit-two-bottom-context-text-type h2,
.article-unit-five-bottom-context-text-type h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

.article-unit-title h1,
.article-unit-title h6,
.article-unit-title h4 {
  margin: 0px;
}

.article-unit-title h1 a:hover,
.article-unit-title h6 a:hover,
.article-unit-title h4 a:hover {
  color: #686868;
}

.article-unit-author h2 {
  margin: 0px;
  margin-top: 3px;
  text-transform: uppercase;
}

/* article unit two */
.article-unit-two {
  height: 335;
  width: 196;
}

.article-unit-two-bottom-context-image{
  height: 50%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* article unit three */
.article-unit-three,
.article-unit-four {
  height: 160;
  width: 300;
}

.horizontal {
  display: flex;
}

.article-unit-three-bottom-context-text,
.article-unit-four-bottom-context-text {
  width: 50%;
}

.article-unit-three-bottom-context-image {
  height: 80%;
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-three-bottom-context-text-type h2,
.article-unit-four-bottom-context-text-type h2,
.article-unit-six-bottom-context-text-type h2,
.article-unit-seven-bottom-context-text-type h2,
.article-unit-eight-bottom-context-text-type h2,
.article-unit-list-item-bottom-context-text-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

/* article unit four */
.article-unit-four-bottom-context-image {
  height: 80%;
  width: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
}

/* article unit five  */
.article-unit-five {
  height: 339px;
  width: 300px;
}

.article-unit-five-bottom-context-image{
  height: 60%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* article unit six */
.article-unit-six {
  height: 322px;
  width: 616px;
}

.article-unit-six-bottom-context-image {
  height: 90%;
  width: 65%;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-six-bottom-context-text {
  width: 30%;
}

/* article unit seven */
.article-unit-seven {
  height: 250px;
  width: 616px;
}

.article-unit-seven-bottom-context-image {
  height: 87%;
  width: 65%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
}

.article-unit-seven-bottom-context-text {
  width: 35%;
}

/* article unit eight */
.article-unit-eight {
  height: 372px;
  width: 932px;
}

.article-unit-eight-bottom-context-image {
  height: 91%;
  width: 65%;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-eight-bottom-context-text {
  width: 35%;
}

/* article unit nine */
.article-unit-nine {
  height: 450px;
  width: 302px;
}

/* article unit ten */
.article-unit-ten {
  height: 662px;
  width: 302px;
}

/* article unit eleven */
.article-unit-eleven {
  height: 578px;
  width: 302px;
}
