.article-index-background {

}

.article-index {
  border: 1px solid black;
  width: 932px;
  margin: 0 auto;
  margin-top: 50px;
  /* justify-content: space-between; */
}

.margin-top {
  margin-top: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-left {
  margin-left: 15px;
}
