/* article unit */
.article-unit {
  border: 1px solid #D9D9D9;
  box-shadow: 0 0 5px #D9D9D9;
  background-color: white;
}

.article-unit-top {
  height: 3px;
  background-color: black;
}

.article-unit-bottom {
  /* border: 1px solid black; */
  margin: 15px;
}

/* article unit one */
.article-unit-one {
  height: 335;
  width: 405;
}

.article-unit-one-bottom-context-image{
  /* border: 1px solid black; */
  height: calc(100% * (2/3));
  width: 100%;
  position: relative;
  overflow: hidden;
}

.article-unit-one-bottom-context-image img,
.article-unit-two-bottom-context-image img,
.article-unit-three-bottom-context-image img,
.article-unit-four-bottom-context-image img{
  position: absolute;
  margin: auto;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
}

.article-unit-one-bottom-context-text-type h2,
.article-unit-two-bottom-context-text-type h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

.article-unit-one-bottom-context-text-title h1,
.article-unit-two-bottom-context-text-title h1,
.article-unit-three-bottom-context-text-title h1,
.article-unit-four-bottom-context-text-title h1 {
  margin: 0px;
}

.article-unit-one-bottom-context-text-title h1 a:hover,
.article-unit-two-bottom-context-text-title h1 a:hover,
.article-unit-three-bottom-context-text-title h1 a:hover,
.article-unit-four-bottom-context-text-title h1 a:hover {
  color: #686868;
}

.article-unit-one-bottom-context-text-author h2,
.article-unit-two-bottom-context-text-author h2,
.article-unit-three-bottom-context-text-author h2,
.article-unit-four-bottom-context-text-author h2{
  margin: 0px;
  text-transform: uppercase;
}

/* article unit two */
.article-unit-two {
  height: 335;
  width: 196;
}

.article-unit-two-bottom-context-image{
  height: 50%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* article unit three */
.article-unit-three,
.article-unit-four {
  height: 160;
  width: 300;
}

.article-unit-three-bottom-context,
.article-unit-four-bottom-context {
  display: flex;
}

.article-unit-three-bottom-context-image {
  height: 80%;
  width: 160%;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-three-bottom-context-text-type h2,
.article-unit-four-bottom-context-text-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

/* article unit four */
.article-unit-four-bottom-context-image {
  height: 80%;
  width: 160%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
}
