.article-index-background {
  background-color: #F6F6F6;
}

.article-index {
  width: 940px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 15px;
}

.margin-top {
  margin-top: 15px;
}
.margin-right {
  margin-right: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-left {
  margin-left: 15px;
}

.inline-block {
  display: inline-block;
}
