/* article unit */
.article-unit {
  border: 1px solid #D9D9D9;
  border-bottom: 2px solid #CCCCCC;
  box-shadow: 0 0 1px #CCCCCC;
  background-color: white;
}

.jump:hover {
  position: relative;
  top: -5px;
  box-shadow: 0 0 5px #CCCCCC;
}

.article-unit-title h1,
.article-unit-title h6,
.article-unit-title h4 {
  margin: 2px 0px;
}

.article-unit-title h1 a,
.article-unit-title h6 a,
.article-unit-title h4 a {
  color: black;
}

.article-unit-title h1 a:hover,
.article-unit-title h6 a:hover,
.article-unit-title h4 a:hover {
  color: #686868;
}

.article-unit-author {
  display: inline-block;
}

.article-unit-author h2 {
  margin: 0px;
  text-transform: uppercase;
}

.article-unit-author h2:hover {
  background-color: #A9E9FA;
  color: black;
  cursor: pointer;
}

.article-unit-top {
  height: 3px;
  background-color: black;
}

.article-unit-list-top {
  height: 10px;
  background-color: black;
}

.article-unit-middle {
  height: 66px;
  border-bottom: 1px solid #D9D9D9;
}

.article-unit-middle-header {
  padding: 0px 15px;
}

.article-unit-middle-header h3 {
  font-size: 45px;
  margin: 0px;
  padding-top: 10px;
  /* letter-spacing: -2px; */
  text-transform: uppercase;
}

.article-unit-bottom {
  margin: 15px;
}

.article-unit-list-bottom {
  margin: 0px 15px;
}

.fa-long-arrow-right {
  color: white;
  position:relative;
  top: calc(50% - 10px);
}

.article-unit-eleven-middle-header-icon {
  width: 25px;
  text-align: center;
  margin-right: 5px;
}

.fa-bullseye {
  position:relative;
  top: calc(50% - 8px);
  font-size: 25px;
  color: #98003B;
}

.article-unit-image {
  position: relative;
  overflow: hidden;
}

.article-unit-image img{
  position: absolute;
  margin: auto;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  /* max-width: 100%;
  max-height: 100%; */
  /* object-fit: cover; */
  /* flex-shrink: 0; */
  min-width: 100%;
  min-height: 100%
}

/* article unit one **************************************/
.article-unit-one {
  height: 335;
  width: 408;
}

.article-unit-one .article-unit-image {
  height: calc(100% * (2/3));
  width: 100%;
}

.article-unit-one .article-unit-type h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* article unit two **************************************/
.article-unit-two {
  height: 335;
  width: 196;
}

.article-unit-two .article-unit-image {
  height: 50%;
  width: 100%;
}

.article-unit-two .article-unit-type h2 {
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* article unit three **************************************/
.article-unit-three {
  height: 160px;
  width: 302px;
}

.article-unit-three .article-unit-text {
  width: 50%;
}

.article-unit-three .article-unit-image {
  height: 80%;
  width: 50%;
  margin-right: 15px;
}

.article-unit-three .article-unit-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

/* article unit four **************************************/
.article-unit-four {
  height: 160;
  width: 302px;
}

.article-unit-four .article-unit-text {
  width: 50%;
}

.article-unit-four .article-unit-image {
  height: 80%;
  width: 50%;
  margin-left: 15px;
}

.article-unit-four .article-unit-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

/* article unit five  **************************************/
.article-unit-five {
  height: 338px;
  width: 302px;
}

.article-unit-five .article-unit-image{
  height: 60%;
  width: 100%;
}

.article-unit-five .article-unit-type h2{
  margin-bottom: 0px;
  text-transform: uppercase;
}

/* article unit six **************************************/
.article-unit-six {
  height: 322px;
  width: 622px;
}

.article-unit-six .article-unit-image {
  height: 90%;
  width: 65%;
  margin-right: 15px;
}

.article-unit-six .article-unit-text {
  width: 30%;
}

.article-unit-six .article-unit-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

.article-unit-six .article-unit-title h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: lighter;
  font-size: 24px;
}

/* article unit seven **************************************/
.article-unit-seven {
  height: 250px;
  width: 622px;
}

.article-unit-seven .article-unit-image {
  height: 87%;
  width: 65%;
  margin-left: 15px;
}

.article-unit-seven .article-unit-text {
  width: 35%;
}

.article-unit-seven .article-unit-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

.article-unit-seven .article-unit-title h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: lighter;
  font-size: 24px;
}

/* article unit eight **************************************/
.article-unit-eight {
  height: 372px;
  width: 942px;
}

.article-unit-eight .article-unit-image {
  height: 91%;
  width: 65%;
  margin-right: 15px;
}

.article-unit-eight .article-unit-text {
  width: 35%;
}

.article-unit-eight .article-unit-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

.article-unit-eight .article-unit-title h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 95%;
  letter-spacing: -2px;
}
/* article unit list item **************************************/
.article-unit-list-item-title h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: lighter;
}

.article-unit-list-item:not(:last-child),
.article-unit-list-item-two,
.article-unit-list-item-three:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
}

.article-unit-list-item,
.article-unit-list-item-three {
  padding: 15px 0px;
  display: inline-block;
}

.article-unit-list-item .article-unit-list-item-type h2 {
  margin: 0px;
  text-transform: uppercase;
}

.article-unit-list-item .article-unit-list-item-image {
  height: 75px;
  width: 75px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-list-item-two .article-unit-list-item-image {
  height: 150px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
}

.article-unit-list-item-two .article-unit-author {
  margin-bottom: 15px;
}

.article-unit-list-item-three .article-unit-list-item-image {
  height: 100px;
  width: 180px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.article-unit-list-item,
.article-unit-list-item-three {
  width: 100%;
}

.article-unit-list-item .article-unit-list-item-text {
  width: 70%;
}

/* article unit nine **************************************/
.article-unit-nine {
  width: 302px;
}

/* article unit ten **************************************/
.article-unit-ten {
  height: 662px;
  width: 302px;
}

/* article unit eleven **************************************/
.article-unit-eleven {
  width: 302px;
}

/* article unit twelve **************************************/
.article-unit-twelve {
  width: 618px;
}

/* article unit subscribe **************************************/
.article-unit-subscribe {
  height: 270px;
  width: 940px;
}

/* article unit subscribe items **************************************/
.article-unit-subscribe-item {
  width: calc(100%/3);
}

.article-unit-subscribe-item:not(:last-child),
.article-unit-subscribe-item-two {
  border-right: 1px solid #D9D9D9;
}

.article-unit-subscribe-item-bottom {
  margin-top: 15px;
}

.article-unit-subscribe-item .article-unit-image {
  height: 100px;
  width: 150px;
  position: relative;
  overflow: hidden;
}

.article-unit-subscribe-item .article-unit-list-item-title {
  width: 40%;
  margin-right: 19px;
}

.article-unit-subscribe-item .article-unit-list-item-title h1{
  margin: 0px;
}

.article-unit-subscribe-item-top {
  padding-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
}

.article-unit-subscribe-item-top h3 {
  margin: 0px;
  font-size: 45px;
  line-height: 90%;
}

.article-unit-subscribe-item-more .article-unit-more-context {
  padding-top: 20px;
}

.article-unit-subscribe-item-two .article-unit-list-item-title {
  padding-bottom: 45px;
}
.article-unit-subscribe-item-two .article-unit-input {
  width: 100%;
  padding-bottom: 10px;
}
.article-unit-subscribe-item-two input {
  font-size: 15px;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
/* article unit more **************************************/

.article-unit-more {
  height: 60px;
  border-top: 1px solid #D9D9D9;
}

.article-unit-more-context {
  padding: 10px 15px;
}

.article-unit-more-context h2{
  text-transform: uppercase;
  padding-top: 2px;
}

.article-unit-more:hover {
  cursor: pointer;
}

.article-unit-more:hover .article-unit-more-button {
  background-color: black;
}

.article-unit-more:hover .article-unit-more-context h2 {
  color: black;
}

.article-unit-more-button {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background-color: #666666;
  margin-right: 8px;
  text-align: center;
}
