/* default */
h1 {
  font-size: 16px;
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 12px;
  color: #686868;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  color: #333;
  font-family: 'Chonburi', cursive;
}

h4 {
  font-size: 22px;
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 12px;
  color: white;
  font-family: 'Chonburi', cursive;
  margin: 5px 0px 0px 0px;
}

h6 {
  font-size: 14px;
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  background-color: #FFFFFF;
  z-index: -1;
}



/* story index header  */
.story-index-header {
  border-bottom: 1px solid #CCCCCC;
}

.story-index-header-top {
  height: 3px;
  background-color: black;
}

.story-index-header-bottom {
  text-align: center;
}

/* story index */
.story-index {
  border: 1px solid #D9D9D9;
  box-shadow: 0 0 5px #D9D9D9;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  margin-top: 25px;
}

.story-index-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin: 0px 20px;
}
/* story index item */
.story-index-item {
}

.story-index-item:not(:last-child) {
  border-bottom: 1px solid #CCCCCC;
}

.story-index-item-wrapper {
  display: flex;
}

.story-index-item-wrapper-left {
  width: 20%;
}

.story-index-item-wrapper-right {
  width: 80%;
}

.story-index-item-rank {
}

.story-index-item-date>h2 {
  margin-top: 16px;
}

.story-index-item-title h1 a{
  color: black;
  text-decoration: none;
}

.story-index-item-title h1 a:hover{
  color: black;
  text-decoration: underline;
}

.story-index-item-author>h2 {
  margin-top: 52px;
}

.story-index-item-contributers>h6 {
  margin: 5px 0px 10px 0px;
}

.fa-caret-up:hover, .fa-caret-down:hover {
  cursor: pointer;
  color: #686868;
}

.show {
  display: none;
}

/* story index item contributers */
.story-index-item-contributers-wrapper {
  height: 95px;
  border-top: 1px solid #CCCCCC;
}

/* story index item contributers list */
.story-index-item-contributers-wrapper-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px 0px 0px;
}

/* story index item contributers list item */
.story-index-item-contributers-list-item {
  width: 148px;
  height: 25px;
  margin: 0px 15px 15px 0px;
  text-align: center;
}

.story-index-item-contributers-list-item:nth-child(5n),
.story-index-item-contributers-list-item:nth-child(10n) {
  margin: 0px 0px 15px 0px;
}

.story-index-item-contributers-list-item-wrapper {
  display: flex;
}

.story-index-item-contributers-list-item-wrapper-left {
  background-color: #000;
  height: 100%;
  width: 20%;
}

.story-index-item-contributers-list-item-wrapper-left h6 {
  color: white;
  margin: 3px 0px 0px 0px;
}

.story-index-item-contributers-list-item-wrapper-right {

}

.story-index-item-contributers-list-item-wrapper-right-commenter h6 {
  margin: 0px 0px 0px 10px;
  font-size: 10px;
  text-align: left;
}

.story-index-item-contributers-list-item-wrapper-right-comments h4 {
  margin: 0px 0px 0px 10px;
  font-size: 10px;
}
