/* default */
h1 {
  font-size: 18px;
  color: #252525;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 11px;
  color: #686868;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

h3 {
  font-size: 18px;
  color: black;
  /* font-family: 'Oranienbaum', serif; */
  font-family: 'Tulpen One', cursive;
}

h4 {
  font-size: 22px;
  color: #252525;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h5 {
  font-size: 12px;
  color: white;
  margin: 5px 0px 0px 0px;
  font-family: 'Oranienbaum', serif;
}

h6 {
  font-size: 16px;
  color: #252525;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.horizontal {
  display: flex;
}

.app {
  background-color: #FFFFFF;
  z-index: -1;
}

.hide {
  display: none;
}

/* LOADING ******************************************/
.loading {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.loading-logo{
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-logo h3 {
  font-size: 40px;
  color: white;
  text-align: center;
}
