/* navigation bar */
.navigation-bar {
  box-shadow: 0 4px 2px -2px #D9D9D9;
  background-color: white;
  position: fixed;
  width:100%;
  top:0;
  left:0;
  z-index: 1;
}

.navigation-bar-top {
  height: 60px;
  display: flex;
}

.navigation-bar-top-1 {
  background-color: #00A85F;
}

.navigation-bar-top-2 {
  background-color: #461F4B;
}

.navigation-bar-top-3 {
  background-color: #96CCCE;
}

.navigation-bar-top-4 {
  background-color: #0086A1;
}

.navigation-bar-top-5 {
  background-color: #FFC00A;
}

.navigation-bar-top-6 {
  background-color: #6A0000;
}

.navigation-bar-top-7 {
  background-color: #F52143;
}

/* .navigation-bar-top-1 a {
  color: white;
} */

.navigation-bar-top-active h3,
.navigation-bar-top-active p,
.navigation-bar-top-active a,
.navigation-bar-top-active h2,
.navigation-bar-top-active i:nth-child(1),
.navigation-bar-top-active i:nth-child(2) {
  color: white;
}

.fa-bars,
.fa-times {
  font-size: 20px;
  color: #666666;
}

.fa-bars:hover,
.fa-times:hover {
  color: black;
  cursor: pointer;
}

.navigation-bar-top-section:first-child h3,
.navigation-bar-top-section:first-child h2{
  margin: 0px;
  margin-right: auto;
}

.navigation-bar-top-section:first-child h2 {
  padding-top: 20px;
  margin-right: 0px;
  font-size: 20px;
  padding-left: 25px;
}

.navigation-bar-top-section:first-child h3 {
  padding-left: 20px;
  font-size: 22px;
  padding-top: 18px;
}

.navigation-bar-top-section:first-child h3:hover a,
.navigation-bar-top-section:last-child h2:first-child:hover,
.navigation-bar-top-section:last-child h2:last-child:hover{
  color: black;
  cursor: pointer;
}

.navigation-bar-top-section:nth-child(2) h3{
  font-size: 45px;
  margin: 0px;
  padding-top: 8px;
  text-align: center;
}

.navigation-bar-top-section:nth-child(2) p {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
}

.navigation-bar-top-section:last-child h2{
  margin: 0px;
  margin-left: auto;
}

.navigation-bar-top-section:last-child h2:first-child{
  padding-right: 20px;
  padding-top: 25px;
}

.navigation-bar-top-section:last-child h2:last-child{
  margin-left: 0px;
  padding-right: 25px;
  font-size: 20px;
  padding-top: 20px;
}

.navigation-bar-top-section {
  width: calc(100%/3);
}

.navigation-bar-bottom {
  height: 30px;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
}

.navigation-bar-bottom-section,
.navigation-bar-menu-section {
  width: calc(100% / 7);
  border-top: 1px solid #CCCCCC;
}

.navigation-bar-bottom-section:hover,
.navigation-bar-menu-section:hover{
  cursor: pointer;
}

.navigation-bar-bottom-section:not(:last-child),
.navigation-bar-menu-section:not(:last-child) {
  border-right: 1px solid #CCCCCC;
}

.navigation-bar-bottom-section h2{
  text-align: center;
  margin: 8px 0px;
}

.navigation-bar-bottom-section h2 a,
.navigation-bar-menu-section h2 a {
  text-decoration: none;
  color: #6C6C6C;
}

.navigation-bar-bottom-section-1:hover,
.navigation-bar-bottom-section-1:hover a,
.navigation-bar-bottom-section-1:hover,
.navigation-bar-bottom-section-1:hover a  {
  background-color: #00A85F;
  color: white;
}

.navigation-bar-bottom-section-active-1 {
  background-color: #00A85F;
}

.navigation-bar-bottom-section-2:hover,
.navigation-bar-bottom-section-2:hover a,
.navigation-bar-bottom-section-2:hover,
.navigation-bar-bottom-section-2:hover a  {
  background-color: #461F4B;
  color: white;
}

.navigation-bar-bottom-section-active-2 {
  background-color: #461F4B;
}

.navigation-bar-bottom-section-3:hover,
.navigation-bar-bottom-section-3:hover a,
.navigation-bar-bottom-section-3:hover,
.navigation-bar-bottom-section-3:hover a  {
  background-color: #96CCCE;
  color: white;
}

.navigation-bar-bottom-section-active-3 {
  background-color: #96CCCE;
}

.navigation-bar-bottom-section-4:hover,
.navigation-bar-bottom-section-4:hover a,
.navigation-bar-bottom-section-4:hover,
.navigation-bar-bottom-section-4:hover a  {
  background-color: #0086A1;
  color: white;
}

.navigation-bar-bottom-section-active-4 {
  background-color: #0086A1;
}

.navigation-bar-bottom-section-5:hover,
.navigation-bar-bottom-section-5:hover a,
.navigation-bar-bottom-section-5:hover,
.navigation-bar-bottom-section-5:hover a  {
  background-color: #FFC00A;
  color: white;
}

.navigation-bar-bottom-section-active-5 {
  background-color: #FFC00A;
}

.navigation-bar-bottom-section-6:hover,
.navigation-bar-bottom-section-6:hover a,
.navigation-bar-bottom-section-6:hover,
.navigation-bar-bottom-section-6:hover a  {
  background-color: #6A0000;
  color: white;
}

.navigation-bar-bottom-section-active-6 {
  background-color: #6A0000;
}

.navigation-bar-bottom-section-7:hover,
.navigation-bar-bottom-section-7:hover a,
.navigation-bar-bottom-section-7:hover,
.navigation-bar-bottom-section-7:hover a  {
  background-color: #F52143;
  color: white;
}

.navigation-bar-bottom-section-active-7 {
  background-color: #F52143;
}

.navigation-bar-bottom-section-active h2 a {
  color: white;
}

.navigation-bar-bottom-section-active {
  border-top: none;
}

.select-section {
  border-top: none;
}

.navigation-bar-subscribe {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.navigation-bar-subscribe-items {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  box-shadow: 10px 0 10px -10px #CCCCCC, -10px 0 10px -10px #CCCCCC;
  width: 940px;
  margin: 0 auto;
}

.navigation-bar-search-window {
  height: 100vh;
  width: 100vw;
  border-top: 1px solid #CCCCCC;
}

.navigation-bar-search-window-form {
  position:absolute;
  top: 50%;
  left: 23.5%;
  margin: 0 auto;
  position: fixed;
}

.navigation-bar-search-window-form input {
  font-size: 70px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  outline: none;
  font-weight: bold;
}

.navigation-bar-menu {
  box-shadow: 0 4px 2px -2px #D9D9D9;
}

.navigation-bar-menu-top {
  height: 210px;
  border-bottom: 1px solid #CCCCCC;
}

.navigation-bar-menu-bottom {
  height: 30px;
}

.navigation-bar-menu-bottom-list {
  width: 50%;
  margin: 0 auto;
}

.navigation-bar-menu-bottom-list ul{
  justify-content: space-between;
  text-transform: uppercase;
  /* padding-top: 2px; */
}

.navigation-bar-menu-bottom-list li h2 a {
  color: #686868;
}

.navigation-bar-menu-bottom-list li:hover h2 a{
  color: black;
  cursor: pointer;
}

.navigation-bar-menu-section-content {
  position: relative;
  top: 33%;
  text-align: center;
}

.navigation-bar-menu-section-image {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.navigation-bar-menu-section-image img{
  position: absolute;
  margin: auto;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
}
