.story-show-background {
  background-color: white;
}

.story-show {
  /* border: 1px solid black; */
  width: 1134px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.story-show div {
  /* border: 1px solid black; */
}

/* story show article */
.story-show-article {
  width: 600px;
  margin: 0px 65px;
}

.story-show-article-author u{
  text-decoration: none;
  border-bottom: 4px solid #A9E9FA;
}

.story-show-article-author h2 {
  text-transform: uppercase;
}

.story-show-article-author h2:first-child:hover,
.story-show-article-author h2:nth-child(2):hover {
  background-color: #A9E9FA;
  cursor: pointer;
}

.story-show-article-title a {
  color: black;
}

.story-show-article-title a:hover {
  /* text-decoration: underline; */
  color: #666666;
}

.story-show-article-title h3{
  margin: 15px 0px;
  font-size: 64px;
}

.story-show-article-description {
}

.story-show-article-description p {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.story-show-article-img {
  width: 590px;
  height: 440px;
  position: relative;
  overflow: hidden;
  margin: 50px 0px;
}

.story-show-article-img img {
  position: absolute;
  margin: auto;
  max-width: 100%;
  height: auto;
  display: block;
}

.story-show-article-text div:first-child {
  width: 90%;
  float: right;
}

.story-show-article-text p{
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  line-height: 28px;
  letter-spacing: 1px;
}

.story-show-article-text span {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
}

/* story show share */
.story-show-share {
  /* border: 1px solid black; */
}

.story-show-share-item:hover {
  opacity:0.8;
  cursor: pointer;
}

.story-show-share-item:not(:last-child) {
  border-bottom: 1px solid #D9D9D9;
}

.story-show-share-item-contents {
  margin: 15px 0px;
}

.story-show-share-item-img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
}

.story-show-share-item-text h2 {
  margin: 0px;
  text-transform: uppercase;
}
